<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Josefin Sans" rel="stylesheet">
    </head>
    <body>
        <h1>content</h1>
    </body>
</html>
