<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css2?family=Josefin Sans" rel="stylesheet">
        <title>Main</title>
    </head>
    <body>
        <h1>Stories go here</h1>
    </body>
</html>
