<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Crimson Text" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <title>New Story</title>
    </head>
    <body>

        <nav class="universal-navbar">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="/about" role="tab" aria-controls="nav-home" aria-selected="true">About</a>
                <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="/story" role="tab" aria-controls="nav-profile" aria-selected="false">Story</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="/main" role="tab" aria-controls="nav-contact" aria-selected="false">Main</a>
            </div>
        </nav>
        
        <form id="new-story-form" action="/story" method="POST">
            <p>Name</p>
            <label class = "new-story-form-row">
            <input type="text" name="name">
            </label class><br><br>
            <p>Age</p>
            <label class = "new-story-form-row"> 
            <input type="text" name="age">
            </label><br><br>
            <p>Location</p>
            <label class = "new-story-form-row">
            <input type="text" name="location">
            </label><br><br><br>
            <p>How recent was this passing?</p>
            <label class = "new-story-form-row">
            <select name="timeframe">
                <option value="days">days</option>
                <option value="weeks">weeks</option>
                <option value="months">months</option>
                <option value="years">years</option>
            </select>
            </label><br><br>
            <p>Date</p>
            <label class = "new-story-form-row">
                <input type="datetime-local" name="date">
            </label><br><br><br>
            <p>Please share your story</p>
            <label class = "new-story-form-row">
                <input id="story-box" type="text" name="story">
                </label><br><br><br>
                <input id="new-story-form-row" class = "btn btn-outline-primary" type="submit" value="Publish">
        </form>

    </body>
</html>
