<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css2?family=Josefin Sans" rel="stylesheet">
  </head>
  <body>
    <div class = 'outer'>
      <h1 id = 'splash-text'><%= title %></h1>
    </div>
    <img src = '../images/styx.jpg' alt="A painting of the river Styx.">
  </body>
</html>
