<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Josefin Sans" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <img src = '../images/styx.jpg' alt="A painting of the river Styx.">
    <img id = 'login' src = '../images/google_logo.png' alt="Google log-in.">
  </body>
</html>
