<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Crimson Text" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>About</title>
</head>
<body>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="/about" role="tab" aria-controls="nav-home" aria-selected="true">About</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/story" role="tab" aria-controls="nav-profile" aria-selected="false">Story</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="/main" role="tab" aria-controls="nav-contact" aria-selected="false">Main</a>
        </div>
    </nav>

    <p id="about-main-text">The Weather Tomorrow is an online community that allows individuals to connect at each stage of the grieving process. Individuals can make a post, receive comments and have the option to comment on others’ posts. The emphasis is on trust, openness and unfiltered communication around the topic of death. </p>

</body>
</html>